---
---

<center>
  <div class="car_container">
    <section id="testimonial" class="max-width">
      <article class="testimonial-container" data-index="1">
        <img src="./images/produkt1.webp" alt="" />
        <a class="p_slide" href=""><p class="p_slide">Spices</p></a>
        <p class="slide1">€ 19,00</p>
      </article>
      <article class="testimonial-container" data-index="2">
        <img src="./images/produkt2.webp" alt="" />
        <a class="p_slide" href=""><p class="p_slide">Frukt Stereo</p></a>
        <p class="slide1">€ 10,00</p>
      </article>
      <article class="testimonial-container" data-index="3">
        <img src="./images/produkt3.webp" alt="" />
        <a class="p_slide" href=""><p class="p_slide">Gamay of the morning</p></a>
        <p class="slide1">€ 13,00</p>
      </article>
      <article class="testimonial-container" data-index="4">
        <img src="./images/produkt4.webp" alt="" />
        <a class="p_slide" href=""><p class="p_slide">Gift basket</p></a>
        <p class="slide1">€ 35,00</p>
      </article>
      <article class="testimonial-container" data-index="5">
        <img src="./images/produkt5.webp" alt="" />
        <a class="p_slide" href=""><p class="p_slide">Erborista XII - Erboristeria Il Germoglio</p></a>
        <p class="slide1">€ 39,00</p>
      </article>

      <button class="carousel-btn previous">←</button>
      <button class="carousel-btn next">→</button>
    </section>
  </div>
</center>

<script>
  /* konfigurer nedestående variabler efter behov */
  //antallet af anmeldelser
  const maxRatingsIndex = 5;
  /* ^------------------------------------------^ */

  //laver en array af elementer med klassen .testimonial-container
  const ratings = document.querySelectorAll(".testimonial-container");

  const carousel = document.getElementById("testimonial");

  //bladre frem knap
  const next = document.querySelector(".next");
  next.addEventListener("click", () => {
    //hvis karrousellen IKKE har klassen .animating
    if (!carousel.classList.contains("animating")) {
      //tilføj klassen .animating og sætter knapperne på pause indtil animationen er færdig
      carousel.classList.add("animating");
      ratings.forEach((rating) => {
        //hvis data-index værdien er lig med eller mindre end 1
        if (rating.dataset.index <= 1) {
          //sæt data-index værdien til antallet af produkter
          rating.dataset.index = maxRatingsIndex;
        } else {
          //ellers træk 1 fra data-index værdien
          rating.dataset.index--;
        }
      });

      //fjerner klassen .animating når animationen er færdig efter 750ms og gør knapperne klikbart igen
      setTimeout(() => {
        carousel.classList.remove("animating");
      }, "750"); //750 millisekunder
    }
  });

  //bladre tilbage knap
  const previous = document.querySelector(".previous");
  previous.addEventListener("click", () => {
    //hvis karrousellen IKKE har klassen .animating
    if (!carousel.classList.contains("animating")) {
      //tilføj klassen .animating og sætter knapperne på pause indtil animationen er færdig
      carousel.classList.add("animating");
      ratings.forEach((rating) => {
        //hvis data-index værdien er lig med eller større end antallet af produkter
        if (rating.dataset.index >= maxRatingsIndex) {
          //sæt data-index værdien til 1
          rating.dataset.index = 1;
        } else {
          //ellers læg 1 til data-index værdien
          rating.dataset.index++;
        }
      });

      //fjerner klassen .animating når animationen er færdig efter 750ms og gør knapperne klikbart igen
      setTimeout(() => {
        carousel.classList.remove("animating");
      }, 750); //750 millisekunder
    }
  });
</script>

<style>
  #testimonial {
    position: relative;
    padding-inline: 24px;
    margin-block: 1px 90px;
    height: 18.5rem;
    width: 75%;
  }

  .car_container {
    overflow: hidden;
  }

  .testimonial-container {
    /* position absolute fungerer ikke */
    position: absolute;
    top: 10%;
    text-align: center;
    width: clamp(100px, 25vw, 320px);
    display: flex;
    flex-direction: column;
    gap: 16px;
    transform: translateX(-50%);
    transition: left 0.75s ease-out, opacity 0.375s ease-in-out;
  }

  [data-index="1"] {
    left: -20%;
    opacity: 0;
  }

  [data-index="2"] {
    left: 15%;
    opacity: 1;
  }

  [data-index="3"] {
    left: 50%;
    opacity: 1;
  }

  [data-index="4"] {
    left: 85%;
    opacity: 1;
  }

  [data-index="5"] {
    left: 120%;
    opacity: 0;
  }

  [data-index="6"] {
    left: 145%;
    opacity: 0;
  }

  [data-index="7"] {
    left: 170%;
    opacity: 0;
  }

  [data-index="8"] {
    left: 195%;
    opacity: 0;
  }

  /* viser 1 i stedet for 3 på mobil */
  @media (max-width: 678px) {
    .testimonial-container {
      width: 90%;
    }

    [data-index="1"],
    [data-index="2"] {
      left: -50%;
      opacity: 0;
    }

    [data-index="3"] {
      left: 50%;
      opacity: 1;
    }

    [data-index="4"],
    [data-index="5"] {
      left: 150%;
      opacity: 0;
    }
  }

  .carousel-btn {
    position: absolute;
    padding: 16px 10px;
    border: 0;
    background-color: #e5604d;
    opacity: 0;
    transition: background-color 0.3s, opacity 0.15s, transform 0.3s ease-in-out;
    z-index: 8;
    top: 40%;
    transform: translateY(-50%);
  }

  /* knapperne er altid synlige på mobil */
  @media (hover: none) {
    .carousel-btn {
      opacity: 1;
    }
  }

  #testimonial:hover .carousel-btn {
    opacity: 1;
    transform: translateX(0);
  }

  .carousel-btn:hover {
    background-color: #ffdddd;
  }

  .previous {
    left: -30px;
    transform: translateX(-6px);
  }

  .next {
    right: -30px;
    transform: translateX(6px);
  }

  .testimonial-container > * {
    margin: 0;
  }

  .p_slide {
    font-family: "Montserrat", sans-serif;
    color: #e5604d;
    text-decoration: none;
    font-size: 17px;
  }

  .p_slide:hover {
    color: black;
  }

  .slide1 {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 13px;
  }
</style>
