<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
  </head>
  <body>
    <main>
      <footer>
        <div class="footer_alt">
          <div class="boks1">
            <h3>Omada.wine</h3>
            <p>The dedicated online hideout for the worldly cosmopolitans, drinking from home.</p>
            <img class="img1" src="src/images/payment-680x218.webp" alt="payment" />
          </div>
          <div class="boks2">
            <h4>The Wine Journal</h4>
            <h4>About us</h4>
            <h4>Omada Industry (Wholesale)</h4>
            <h4>Contact us</h4>
            <h4>Delivery</h4>
            <h4>Payments</h4>
          </div>
          <div class="boks3">
            <h4>Industry login</h4>
            <h4>Partner login</h4>
            <h4>Privacy Policy</h4>
            <h4>Cookie Policy</h4>
            <h4>Terms & Conditions</h4>
          </div>
          <div class="boks4">
            <h3>Newsletter</h3>
            <div class="inputs">
              <div class="email">
                <input class="email" type="text" placeholder="your@adress.com" name="email" required />
              </div>
              <div class="sign_up">
                <a href="https://wine.us5.list-manage.com/subscribe/post?u=6afd10304e14bda9406747bf7&id=57988aa397">
                  <input class="sign_up" type="text" placeholder="sign up" name="sign up" required />
                </a>
              </div>
            </div>
            <p>Sign up to our free newsletter and stay in the loop with the latest news on arrivals and drops.</p>
          </div>
          <div class="boks5">
            <img class="img2" src="src/images/SST-Alkohol-2.webp" alt="alkohol_billede" />
          </div>
        </div>
        <div class="footer_bar">
          <div class="bar_1">
            <div class="cookie">
              <h5>Cookie Preferences</h5>
            </div>
            <div class="health">
              <h5>Health Inspection Reports</h5>
            </div>
          </div>
          <div class="bar_2">
            <div class="omada">
              <h5>© 2023 Omada</h5>
            </div>
            <a href="https://www.facebook.com/copenhagensakurafestival"> <img class="facebook" src="/src/images/facebook_icon.webp" alt="" /></a>
            <a href="https://www.instagram.com/copenhagensakurafestival/"> <img class="instagram" src="/src/images/instagram.webp" alt="" /></a>
          </div>
        </div>
      </footer>
    </main>
  </body>
</html>

<style>
  .inputs {
    padding-top: 15px;
  }

  .facebook {
    width: 20%;
    margin-left: 38%;
    padding-bottom: 50%;
  }

  .instagram {
    width: 25%;
  }

  .cookie {
    margin-left: 10%;
    padding-bottom: 10px;
  }

  .bar_1 {
    float: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .bar_2 {
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer_bar {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #2676f3;
  }

  .email {
    width: 100%;
    padding: 1.9px;
    margin: 2px 0 5px 0;
    border: none;
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
  }

  .sign_up {
    width: 100%;
    padding: 1.9px;
    margin: 2px 0 5px 0;
    display: inline-block;
    border: none;
    background: #1f1e1e;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  .footer_alt {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 8%;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  h3 {
    font-weight: normal;
    letter-spacing: 1px;
    font-family: aviano-sans, sans-serif;
    font-size: 14px;
  }

  h4 {
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 2.1;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }

  h5 {
    color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
  }
  p {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    font-size: 14px;
    line-height: 1.7;
    /* letter-spacing: 2px; */
  }

  .boks4 {
    margin-right: 16%;
  }

  .img1 {
    width: 80%;
    padding-top: 20px;
  }

  .img2 {
    width: 47%;
    padding-top: 40px;
  }

  main {
    background-color: #ede9df;
    /* border-style: solid;
    border-color: rgb(51, 49, 49); */
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  img {
    width: 100%;
    height: auto;
    /* display: block; */
  }
  @media (max-width: 600px) {
    .footer_alt {
      display: grid;
      grid-template-columns: 1fr;
      margin-left: 3%;
      padding-top: 3%;
      padding-bottom: 3%;
    }

    .boks1 {
      padding-bottom: 15px;
      padding-top: 30px;
    }

    .boks2 {
      padding-bottom: 35px;
      padding-top: 30px;
    }

    .boks3 {
      padding-bottom: 43px;
      padding-top: 10px;
    }

    .img1 {
      width: 40%;
    }

    .img2 {
      width: 25%;
    }

    .footer_bar {
      padding-top: 30px;
      padding-bottom: 30px;
      background-color: #2676f3;
      padding-bottom: 3%;
      display: grid;
      grid-template-columns: 1fr;
    }

    .bar_1 {
      display: grid;
      grid-template-columns: 1fr;
    }

    .bar_2 {
      display: grid;
      grid-template-columns: 1fr;
      margin-left: 3%;
    }

    .cookie {
      margin-left: 3%;
      padding-bottom: 10px;
      font-size: 14px;
    }

    .health {
      margin-left: 3%;
      padding-bottom: 20px;
      padding-top: 25px;
      font-size: 14px;
    }

    .omada {
      padding-bottom: 15px;
      padding-top: 18px;
      font-size: 14px;
    }

    .facebook {
      width: 4%;
      margin-left: 0.5px;
      padding-top: 20px;
      padding-bottom: 8px;
    }

    .instagram {
      width: 4.5%;
      padding-top: 1%;
    }
  }
</style>
