<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
  </head>
  <body>
    <main>
      <div class="boks1">
        <h1>Omada.wine</h1>
        <h2>The dedicated online hideout for the worldly cosmopolitans, drinking from home.</h2>
        <img src="" alt="" />
      </div>
    </main>
  </body>
</html>
