<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap" rel="stylesheet" />
    <title>Header</title>
  </head>
  <body>
    <div class="header_bar">
      <div class="shipping">
        <p>🇩🇰 Free shipping in Denmark over €150</p>
      </div>
    </div>
    <div class="logo">
      <a class="omada_logo" href="https://omada.wine/">OMADA.WINE</a>
    </div>
    <header id="grid_menu">
      <nav class="navbar">
        <ul class="nav-menu">
          <div class="kategorier">
            <li class="nav-item">
              <a href="" class="nav-link">WINES</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">WINEMAKERS</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">REGIONS</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">SUBSCRIPTION</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">BOXES</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">SOCIAL CLUB</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">GIFT CARD</a>
            </li>
            <li class="deli">
              <a href="" class="subnavbtn" id="deli">DELI</a>
            </li>
          </div>
          <li class="icons">
            <div class="icons">
              <img class="search" src="./images/search.webp" alt="" />
              <img class="heart" src="./images/heart.webp" alt="" />
              <img class="person" src="./images/person.webp" alt="" />
              <img class="kurv" src="./images/kurv.webp" alt="" />
            </div>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>

    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      #deli {
        color: #e5604d;
      }

      #deli:hover {
        color: black;
      }

      img {
        width: 100%;
        height: auto;
        /* display: block; */
      }

      .shipping {
        font-size: 13px;
        margin-left: 4%;
        color: white;
      }

      .header_bar {
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #2676f3;
      }

      .omada_logo {
        color: black;
        font-size: 30px;
        margin-left: 40.5%;
      }

      @media (max-width: 600px) {
        .omada_logo {
          color: black;
          font-size: 30px;
          margin-left: 30.5%;
        }
      }

      ul#menu li {
        display: inline;
      }

      .logo {
        padding-top: 18px;
      }
      header {
        top: 0;
        padding: 1rem 2rem;
        padding: 10px;
        padding-left: 10px;
        overflow: hidden;
        padding-bottom: 20px;
        padding-top: 25px;
      }

      a {
        text-decoration: none;
        font-weight: 700;
        color: #1c2d37;
        font-family: "Montserrat", sans-serif;
        padding: 10px;
        font-size: 11.5px;
        font-weight: 800;
        letter-spacing: 1px;
      }

      a:hover {
        color: #e5604d;
      }

      .nav-menu {
        font-family: aviano-sans, sans-serif;
        letter-spacing: 1px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
      }

      .icons {
        float: right;
        margin-right: 10.5px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      .search {
        width: 50%;
      }

      .heart {
        width: 50%;
      }

      .kurv {
        width: 45%;
      }

      .person {
        width: 50%;
      }

      .kategorier {
        float: left;
        margin-left: 39px;
        font-family: aviano-sans, sans-serif;
      }
    </style>
  </body>
</html>
