---
---


    
    <div class="knap">
      <button>Event Calendar</button>
      <button>Tastings</button>
      <button>Deli Goods</button>
      <button>About</button>
    </div>


<style>
  @media (max-width: 600px) {
    .knap {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;

  


    }
  }

  button {
    border: solid #e5604d;
    color: #e5604d;
    background-color: #fffef3;
    padding: 15px;
    width: 50%;
    background-color: none;
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
  }

  .knap {
    gap: 30px;
    display: flex;
    
    text-align: center;
    padding-inline: 30px;
    padding-top: 10px;
  }

  a {
    text-decoration: none;
    color: #fffef3;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
  }

  button:hover {
    color: #fffef3;
    background-color: #e5604d;
  }
</style>
