
    <div>
        <button>Begin test</button>
    </div>


<style>
  button {
    border: solid #e5604d;
    color: #e5604d;
    background-color: #fffef3;
    padding: 15px;
    width: 20%;
    background-color: none;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin-left: 11%;
  }

  .knap {
    gap: 30px;
    display: flex;
    text-align: center;
    padding-inline: 30px;
    padding-top: 50px;
  }

  a {
    text-decoration: none;
    color: #fffef3;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
  }

  button:hover {
    color: #fffef3;
    background-color: #e5604d;
  }

  div {
    padding-top: 7%;
  }
</style>