---
---

<div class="knap">

    <button class="knap1">Event Calendar</button>
    <button class="knap2">Tastings</button>
    <button class="knap3">Deli Goods</button>
    <button class="knap4">About</button>
 
</div>

<style>
  button {
    border: solid #e5604d;
    color: #e5604d;
    background-color: #fffef3;
    padding: 15px;
    width: 100%;
    background-color: none;
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
  }

  .knap {
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    text-align: center;
    padding-inline: 50px;
    padding-top: 50px;
  }

  a {
    text-decoration: none;
    color: #fffef3;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
  }

  button:hover {
    color: #fffef3;
    background-color: #e5604d;
  }

  @media (max-width: 600px) {
    .knap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;

  
    }

    .knap3 {
      grid-column: 1;
      grid-row: 2;
    }

    .knap4 {
      grid-column: 2;
      grid-row: 2;
    }
  }
</style>
