---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="../src/styles/mutual.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap" rel="stylesheet" />
    <title>Astro</title>
  </head>
  <body>
    <div class="knap">
      <button>Event Calendar</button>
      <button>Tastings</button>
      <button>Deli Goods</button>
      <button>About</button>
    </div>
  </body>
</html>

<style>
  button {
    border: solid #e5604d;
    color: #e5604d;
    background-color: #fffef3;
    padding: 15px;
    width: 50%;
    background-color: none;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
  }

  .knap {
    gap: 30px;
    display: flex;
    text-align: center;
    padding-inline: 30px;
    padding-top: 50px;
  }

  a {
    text-decoration: none;
    color: #fffef3;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
  }

  button:hover {
    color: #fffef3;
    background-color: #e5604d;
  }
</style>
