<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="../src/styles/mutual.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap" rel="stylesheet" />
    <title>Astro</title>
  </head>
  <body>

	<hr class="hr1" />

   
  </body>
</html>


<style>
      .hr1 {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 10%;

    border: 0;
    border-top: 1.5px solid  #e5604d;
  }

</style>
