---
const { title } = Astro.props;
---

<h1>{title}</h1>
<slot />

<style>
  h1 {
    margin-left: 10%;
    font-family: "Montserrat", sans-serif;
    color: #e5604d;
    font-size: 35px;
  }

  @media (max-width: 600px) {
    h1 {
      margin-bottom: 8.5px;
      padding-left: 11px;
    }

  
  }
</style>
