<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="../src/styles/mutual.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap" rel="stylesheet" />
    <title>Astro</title>
  </head>
  <body>
    <main>
        <h2 class="h2_test about">About</h2>
        <p class="p1">Øster Farimagsgade 26</p>
        <p class="p1">2100 København Ø</p>
        <h2 class="h2_test1">Opening Hours</h2>
    </main>
  </body>
</html>


<style>

.p1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 11%;
  }


.h2_test1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #e5604d;
    padding-left: 11%;
}

.about {
    text-decoration: underline 1.5px;
    padding-top: 10px;
}
</style>
