
      <section>
        <div class="event">
          <div class="img">
            <img class="img1" src="./images/glas.png" alt="" />
          </div>
          <div class="indhold">
            <h2>Public Tastings</h2>
            <p>Once a month you’re invited to join our open wine tasting and sample the curated selection of...</p>

          <p class="pris">DKK 145,- per person</p>
          </div>
          <div class="knap1">
            <button class="button1">Book Tasting</button>
          </div>
          <div class="knap2">
            <button>Learn More</button>
          </div>
        </div>

        <div class="event">
          <div class="img">
            <img src="./images/tasting.png" alt="" />
          </div>
          <div class="indhold">
            <h2>Private Tastings</h2>
            <p>Once a month you’re invited to join our open wine tasting and sample the curated selection of...</p>
            <p class="pris">DKK 199,- per person</p>
          </div>
          <div class="knap1">
            <button class="button1">Book Tasting</button>
          </div>
          <div class="knap2">
            <button>Learn More</button>
          </div>
        </div>
      </section>
    

<style>
  button {
    border: solid #e5604d;
    color: #e5604d;
    background-color: #fffef3;
    padding: 15px;
    width: 100%;
    background-color: none;
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
  }

  .button1 {
    border: solid #e5604d;
    color: #fffef3;
    background-color: #e5604d;
    padding: 15px;
    width: 100%;
    background-color: none;
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
  }

  button:hover {
    color: #fffef3;
    background-color: #e5604d;
  }

  .button1:hover {
    color: #e5604d;
    background-color: #fffef3;
  }


  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-inline: 15%;
    padding: 20px;
  }

  .img1 {
    width: 103%;
    
  }

  .event {
    padding-inline: 15%;

    
  }

  @media (max-width: 600px) {
    section {
    display: grid;
    grid-template-columns: 1fr;
    margin-inline: 0%;
  }

  .event {
    padding-inline: 10%;
  }

  .knap2 {
    padding-bottom: 15%;
  }

  img {
    padding-top: 10%;
  }
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
    color:  #e5604d;;
    font-size: 23px;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
  }

  img {
    width: 100%;
  }

  .knap1 {
    padding-bottom: 7%;
  }


  .pris {
    color: rgba(0, 0, 0, 0.5);
  }
 

 
</style>
