:root {
    --red-color: #e5604d;
    --background-color: #fffef3;
}


.deli{
    width: 70%;

}

.deligoods {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #e5604d;
    padding-left: 11%;
}

