:root {
    --red-color: #e5604d;
    --background-color: #fffef3;
}


.deli{
    width: 70%;

}

.deligoods {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #e5604d;
    padding-left: 11%;
}

.h2_test {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #e5604d;
    padding-left: 11%;
}

.p_test {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 11%;
}

main {
    margin-inline: 0%;
}

