---
import Backdrop from "../komponenter/Backdrop.astro";
import Carousel from "../komponenter/Carousel.astro";
import Carousel1 from "../komponenter/Carousel1.astro";
import Knapper from "../komponenter/Knapper.astro";
import Footer from "../komponenter/Footer.astro";
import Header from "../komponenter/Header.astro";
import Line from "../komponenter/Line.astro";
import Knap from "../komponenter/Knap.astro";
import Events from "../komponenter/Events.astro";
import Tastings from "../komponenter/Tastings.astro";
import Knowledge from "../komponenter/Knowledge.astro";
import Deligoods from "../komponenter/Deligoods.astro";
import Eventinfo from "../komponenter/Eventinfo.astro";
import Tastinginfo from "../komponenter/Tastinginfo.astro";
import Delibillede from "../komponenter/Delibillede.astro";
import Opening from "../komponenter/Opening.astro";
import Testimonials from "../komponenter/Testimonials.astro";
---

  <Header />
    <Backdrop />
    <main>
      <div>
        <Knapper />
      </div>
      <Line />

      <Knowledge />

      <Knap />

      <Line />

      <Deligoods />

      <Carousel1 />
      <Line />

      <Eventinfo />
      <Events />

      <Line />

      <Tastinginfo />

      <Tastings />

      <Line />

      <Opening />

      <Line />
      <Testimonials />

      <Line />
      <Delibillede />
     
    </main>
  <Footer />

