---
import Backdrop from "../komponenter/Backdrop.astro";
import Carousel from "../komponenter/Carousel.astro";
import Carousel1 from "../komponenter/Carousel1.astro";
import Knapper from "../komponenter/Knapper.astro";
import Footer from "../komponenter/Footer.astro";
import Header from "../komponenter/Header.astro";
import Line from "../komponenter/Line.astro";
import Knap from "../komponenter/Knap.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="../src/styles/mutual.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap" rel="stylesheet" />
    <title>Astro</title>
  </head>
  <Header />
  <body>
    <Backdrop />
    <div>
      <Knapper />
    </div>
	<Line />
	<h2 class="h2_test">Test Your Knowledge!</h2>
	<p class="p_test">How much do you actually know about natural wine?</p>
	<Knap />

    <Line />
    <h2 class="deligoods">Deli Goods</h2>

    <Carousel1 />
	<Line />
	<h2 class="h2_test">Events</h2>

	<Line />
	<h2 class="h2_test">Tastings</h2>

	<Line />
    <center>
      <img class="deli" src="../src/images/deli.webp" alt="" />
    </center>
  </body>
  <Footer />
</html>
