---
import Backdrop from "../komponenter/Backdrop.astro";
import Carousel1 from "../komponenter/Carousel1.astro";
import Knapper from "../komponenter/Knapper.astro";
import Footer from "../komponenter/Footer.astro";
import Header from "../komponenter/Header.astro";
import Line from "../komponenter/Line.astro";
import Knap from "../komponenter/Knap.astro";
import Events from "../komponenter/Events.astro";
import Tastings from "../komponenter/Tastings.astro";
import Knowledge from "../komponenter/Knowledge.astro";
import Deligoods from "../komponenter/Deligoods.astro";
import Eventinfo from "../komponenter/Eventinfo.astro";
import Tastinginfo from "../komponenter/Tastinginfo.astro";
import Delibillede from "../komponenter/Delibillede.astro";
import Opening from "../komponenter/Opening.astro";
import Burgermenu from "../komponenter/Burgermenu.astro";
import Animation from "../komponenter/Animation.astro";

import "../styles/mutual.css";

import Mainlayout from "../komponenter/Mainlayout.astro";
import Form from "../komponenter/Form.astro";
import Testimonials from "../komponenter/Testimonials.astro";

const url = "https://kktyplinqgygnnagbsib.supabase.co/rest/v1/omada_testimonials?approved=is.true";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtrdHlwbGlucWd5Z25uYWdic2liIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg2MzY2MjcsImV4cCI6MTk5NDIxMjYyN30.eim5AhzEGy_kEp2s9c-TN-mL3YdGy2KBYYxO4DX58ds";

const response = await fetch(url, {
  method: "GET",
  headers: {
    apikey: key,
    Accept: "application/json",
    "Content-Type": "application/json",
  },
});

const udsagn = await response.json();
---

<Header />
<Burgermenu />
<Backdrop />
<main>
  <Knapper />

  <Line />

  <Knowledge />

  <Knap />

  <Line />

  <Deligoods />

  <Carousel1 />
  <Line />

  <Eventinfo />
  <Events />

  <Line />

  <Tastinginfo />

  <Tastings />

  <Line />

  <Opening />

  <Line />

  
  <Mainlayout title="Reviews">
    <main>
      <section class="testimonials">
        {
          udsagn.map((testimonial) => {
            return <Testimonials name={testimonial.name} overskrift={testimonial.overskrift} age={testimonial.age} text={testimonial.text} />;
          })
        }
      </section>

      <Form />
    </main>
  </Mainlayout>

  <Line />
  <Delibillede />
</main>
<Footer />
