---
<<<<<<< HEAD
import Backdrop from "../komponenter/Backdrop.astro";
import Carousel from "../komponenter/Carousel.astro";
import Carousel1 from "../komponenter/Carousel1.astro";
import Knapper from "../komponenter/Knapper.astro";
=======
import Footer from "../komponenter/Footer.astro";
>>>>>>> 7853f76c1d65a3263425c4f513ef1c6e0ea7195e
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
<<<<<<< HEAD
	<link rel="stylesheet" href="../src/styles/mutual.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap" rel="stylesheet" />
    <title>Astro</title>
  </head>
  <body>
	<Backdrop />
    <div>
      
      <Knapper />
    </div>
    

    <Carousel1 />
  </body>
=======
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <h2></h2>
  </body>
  <Footer />
>>>>>>> 7853f76c1d65a3263425c4f513ef1c6e0ea7195e
</html>


